/**
 * Your Inspiration Themes
 * 
 * In this files the framework register default metaboxes.
 * 
 * @package WordPress
 * @subpackage Your Inspiration Themes
 * @author Your Inspiration Themes Team <info@yourinspirationthemes.com>
 *
 * This source file is subject to the GNU GENERAL PUBLIC LICENSE (GPL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-3.0.txt
 */

/********************************************

In this file you can add your custom CSS.
It will always override rules in style.css.
Good work... and good luck! :)

********************************************/

.wrap_status {
    background-color: #f0f2f0;
    border: 2px solid #2c8db8;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    left: 35%;
    top: 45%;
    width: 300px;
    height: 80px;
    text-align: center;
    display: none;
    z-index: 5005;
}

.borGreen {
    border: 1px solid green;
    background-color: rgba(0, 255, 0, 0.05);
}

#portfolio .last {
    margin-bottom: 20px;
}

.input-prepend input[type="password"] {
    border: 1px solid rgb(207, 207, 207);
}

.socials {
    margin-top: 75px;
}

#header .sub-indicator {
    font-size: 15px;
}

.yit_text_quote {
    margin-top: 9px;
}

#logo .brand_name {
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 28px;
}

#logo img {
    vertical-align: middle;
}

#logo .brand_name {
    vertical-align: middle;
    position: relative;
    left: 5px;
}

#logo {
    padding-bottom: 15px;
}

#sidebar-header .widget blockquote,
.yit-widget-content .yit_text_quote blockquote {
    font-size: 18px;
    color: #939191;
    line-height: 22px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2px;
}

.yit-widget-content .yit_text_quote blockquote {
    padding-top: 5px;
}

.text-quote-author {
    font-family: "Roboto", sans-serif;
    color: #b77a2b;
}

.yit-widget-content .yit_text_quote cite {
    font-size: 18px;
}

#header div.menu > ul > li > a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#header div.menu > ul ul li a {
    font-size: 12px;
}

.page-template-home-php #header .menu {
    height: 33px;
}

.menu-select select {
    font-family: 'Roboto', sans-serif;
}

.sub-indicator {
    /*display: none;*/
}

.widget-icon-text {
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 20px;
    /*max-width: 250px;*/
}

.widget-icon-text p:hover,
.widget-last-post p:hover {
    color: #b77a2b;
}

.widget-last-post {
    padding-top: 10px;
}

.icon-img {
    border-radius: 50%;
    width: 80px;
    margin-bottom: 20px;
}

.icon-img + p {
    font-size: 15px;
    padding-left: 80px;
    line-height: 20px;
}

td.slider-top-right,
td.slider-bottom-right {
    text-align: right;
}

td.slider-top-left,
td.slider-bottom-left {
    text-align: left;
}

td.slider-top-left,
td.slider-top-right {
    vertical-align: top;
}

td.slider-bottom-left,
td.slider-bottom-right {
    vertical-align: bottom;
}

div.slider-top-left,
div.slider-top-right,
div.slider-bottom-left,
div.slider-bottom-right {
    position: absolute;
    width: 550px;
}

div.slider-top-right,
div.slider-bottom-right {
    right: 10px;
}

div.slider-top-left,
div.slider-bottom-left {
    left: 30px;
}

div.slider-top-left,
div.slider-top-right {
    top: 0px;
}

div.slider-bottom-left,
div.slider-bottom-right {
    bottom: 110px;
}

#slider-cycle.slider_cycle .slide-title h2 span {
    color: #b77a2b;
}

.btn-come-to-me-4,
.btn-clear-3 {
    margin-bottom: 10px;
}

.ui-accordion .ui-accordion-header span {
    font-size: 15px;
}

#dialog-confirm p,
#dialog-confirm img {
    vertical-align: middle;
}

#dialog-confirm img {
    margin-right: 7px;
}